# Heart Disease Prediction Machine Learning Model

#### Importing the libraries

In [2]:
import pandas as pd

In [ ]:
import numpy as np

#### Data Cleaning and Processing

In [ ]:
# laoding the csv file to the pandas dataframe
data = pd.read_csv('heart.csv')
# sample of 5 rows which are randomly chosen data framefrom the data
data.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
239,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
419,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
83,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
224,51,1,0,140,261,0,0,186,1,0.0,2,0,2,1
612,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0

In [ ]:
# number of rows and columns in the data
data.shape

(1025, 14)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
# checking for missing values again
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# statistical measure about the data --> mainly for the numerical data columns
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# checking the distribution of target
data['target'].value_counts()
# 0 --> Healthy Person 1 --> Unhealthy person

target
1    526
0    499
Name: count, dtype: int64

In [ ]:
# Splitting the feature and target variable
X = data.drop(columns = ['target'], axis = 1)
Y = data['target']

In [ ]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [ ]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

## Splitting the data into training and test dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y,
                                                   random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 13) (820, 13) (205, 13)

## Model Training

In [ ]:
model = LogisticRegression()

In [ ]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation

In [ ]:
# Accuracy Score
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print("Accuracy on Training data :: ", training_data_accuracy)

Accuracy on Training data ::  0.8524390243902439

In [ ]:
# Accuracy Score
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print("Accuracy on Test data :: ", test_data_accuracy)

Accuracy on Test data ::  0.8048780487804879

## Building a predictive system

In [ ]:
data.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
183,42,1,2,130,180,0,1,150,0,0.0,2,0,2,1
560,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
475,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
404,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
61,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1

In [ ]:
# sex
# chest pain type (4 values)
# resting blood pressure
# serum cholestoral in mg/dl
# fasting blood sugar > 120 mg/dl
# resting electrocardiographic results (values 0,1,2)
# maximum heart rate achieved
# exercise induced angina
# oldpeak = ST depression induced by exercise relative to rest
# the slope of the peak exercise ST segment
# number of major vessels (0-3) colored by flourosopy
# thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

input_data = []
try:
    age = int(input("Enter the age(in years) --> "))
    if age<1:
        raise ValueError("Not a vaild age")
    else:
        input_data.append(age)
        
    sex = int(input("Enter the sex(1 = male and 0 = female) --> "))
    if 0<=sex<2:
        input_data.append(age)
    else:
        raise ValueError("Not a vaild sex(1=male and 0=female)")
        
    cp = int(input("Enter the chest pain type (4 values) --> "))
    if 0<=cp<4:
        input_data.append(cp)
    else:
        raise ValueError("Not a vaild chest pain type(4 values)")
        
    trestbps = int(input("Enter the resting blood pressure(in mm Hg on admission to the hospital) --> "))
    input_data.append(trestbps)
    
    chol = int(input("Enter the serum cholestoral in mg/dl --> "))
    input_data.append(chol)
    
    fbs = int(input("Enter the fasting blood sugar > 120 mg/dl(1 = true; 0 = false) --> "))
    if 0<=fbs<2:
        input_data.append(fbs)
    else:
        raise ValueError("Not a vaild fasting blood sugar > 120 mg/dl(1 = true; 0 = false)")
        
    
    restecg = int(input("Enter the resting electrocardiographic results (values 0,1,2) --> "))
    if 0<=restecg<3:
        input_data.append(restecg)
    else:
        raise ValueError("Not a vaild resting electrocardiographic results (values 0,1,2)")
    
    thalach = int(input("Enter the maximum heart rate achieved --> "))
    input_data.append(thalach)
    
    exang = int(input("Enter the exercise induced angina (1 = yes; 0 = no) --> "))
    if 0<=exang<2:
        input_data.append(exang)
    else:
        raise ValueError("Not a vaild exercise induced angina (1 = yes; 0 = no)")
        
    oldpeak = float(input("Enter the ST depression induced by exercise relative to rest --> "))
    input_data.append(oldpeak)
    
    slope = int(input("Enter the slope of the peak exercise ST segment --> "))
    input_data.append(slope)
    
    ca = int(input("Enter the number of major vessels (0-3) colored by flourosopy --> "))
    if 0<=ca<4:
        input_data.append(ca)
    else:
        raise ValueError("Not a vaild number of major vessels (0-3) colored by flourosopy")
        
    thal = int(input("thal: 0 = normal; 1 = fixed defect; 2 = reversable defect --> "))
    input_data.append(thal)

except Exception as e:
    print(e)
# change the input data to a numpy array
input_data_as_nparray = np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_nparray.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if(prediction[0] == 0):
    print("The person does not have a Heart Disease")
else:
    print("The person has Heart Disease")

# 55,1,0,160,289,0,0,145,1,0.8,1,1,3,0

In [ ]:
# Some random values for testing the model
# 44,1,1,130,219,0,0,188,0,0,2,0,2,1
# 55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
# 41,0,1,105,198,0,1,168,0,0,2,1,2,1
# 45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
# 35,1,1,122,192,0,1,174,0,0,2,0,2,1
# 41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
# 64,1,3,110,211,0,0,144,1,1.8,1,0,2,1